.table{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
@media only screen and (max-width: 1250px) {
    .table{
        width: 100%;
    }
}
        @media only screen and (max-width: 900px) {
          .table{
              width: 80%;
          }
        }
  @media only screen and (max-width: 690px) {
    .table{
        width: 50%;
    }
  }